<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUCCESS_CANCELLATION</title>
    <style>
        .table {
            width: 100%;
        }
        .head{
            background-color: rgba(226, 65, 65, 0.815);
        }
        .logo {
            margin: 0;
            padding: 0;
            font-size: 1.2rem;
        }
        .body{
            display: table-row;
            height: 100px;
            background-color: white;
            color: black;
        }
        .footer {
            background-color: rgba(128, 228, 228, 0.5);
            text-align: center;
            color: rgb(255, 255, 255);
        }
    </style>
</head>
<body>
    <table class="table">
        <thead class="head">
            <tr>
                <th colspan="3">
                    <p class="logo">Logo</p>
                </th>
            </tr>
        </thead>
        <tbody class="body">
            <tr>
                <td>this is a body data</td>
            </tr>
        </tbody>
        <tfoot class="footer">
            <tr>
                <td colspan="3">this is footer</td>
            </tr>
        </tfoot>
    </table>
</body>
</html>
